<template lang="pug">
    v-app
        layout
        .wrapper
            router-view
</template>

<script>
  import layout from '@/components/layout.vue'
  export default {
    name: 'App',

    components: {layout},

    data: () => ({
      //
    }),
  };
</script>

<style lang="scss">
    .main {
        margin-top: 60px;
    }
    .wrapper {
        background: url('assets/star.jpg') no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        position: fixed;
        overflow: auto;
    }
</style>
