<template lang="pug">
    div.main.films
        preloader(v-if="loading")
        v-card.mx-auto(outlined width="50%" dark v-if="filmList")
            v-list-item(three-line)
                v-list-item-content
                    .overline.mb-4 episode {{filmList.episode_id}}
                    v-list-item-title.headline.mb-1 {{filmList.title}}
                    .overline.mb-4.mt-2 Director : {{filmList.director}}<br>  Producer :{{filmList.producer}}
                    v-list-item.mb-2.mt-2 {{filmList.opening_crawl}}
                    .overline.mb-4 Realease Date {{filmList.release_date}}
                    v-btn(to="/films") Back to films
                v-list-item-avatar(tile)
</template>

<script>
  import preloader from '../components/preloader.vue'
  import axios from 'axios'
  export default {
    name: "Film",
    components : {preloader},
    data () {
      return {
        filmList : {},
        loading : true,
      }
    },
    created() {
        this.getFilmList()
    },
    methods: {
      getFilmList() {
        axios.get(`https://swapi.co/api/films/${this.$route.params.id}`,)
          .then(res => {
            console.log(res)
            this.loading = false
            this.filmList = res.data
          })
      },
      openInfo(id) {
        this.$router.push(`/film/${id}`)
      }
    }
  }
</script>

<style scoped>

</style>