<template lang="pug">
    div.main.films
        preloader(v-if="loading")
        v-card.ma-5(outlined width="30%" dark v-for="(item , index) in filmsList" :key="`item_${index}`")
            v-list-item(three-line)
                v-list-item-content
                    .overline.mb-4 episode {{item.episode_id}}
                    v-list-item-title.headline.mb-1 {{item.title}}
                    v-list-item-subtitle.mb-2.mt-2 {{item.opening_crawl}}
                    v-btn(@click="openInfo(item.episode_id)") more info
                v-list-item-avatar(tile)




</template>

<script>
  import preloader from '../components/preloader.vue'
  import axios from 'axios'
  export default {
    name: "Films",
    components : {preloader},
    data () {
      return {
        filmsList : {},
        loading : true,
      }
    },
    created() {
      this.getFilmList()
    },
    methods: {
      getFilmList() {
        axios.get('https://swapi.co/api/films',)
          .then(res => {
            this.loading = false
            this.filmsList = res.data.results
          })
      },
      openInfo(id) {
        this.$router.push(`/film/${id}`)
      }
    }
  }
</script>

<style>
.films {
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
}
</style>