<template lang="pug">
    div.main
        preloader(v-if="loading")
        v-card(dark)
            v-card-title  Total Peoples {{total}}
                v-spacer
                v-text-field(v-model="search" append-icon="mdi-magnify" label="Search" single-line hide-details)
            v-data-table(:headers="headers" :items="peopleList" :search="search")
            v-pagination(v-model="page" :length="pageCount"  @input="getPeopleList")
</template>

<script>
  import axios from 'axios'
  import preloader from '../components/preloader.vue'

  export default {
    name: 'People',
    components: {preloader},
    data() {
      return {
        peopleList: [],
        loading: true,
        page: 1,
        total: '',
        pageCount: 0,
        search: '',
        headers: [
          {
            text: 'Name',
            align: 'start',
            value: 'name',
          },
          {text: 'Birth year', value: 'birth_year'},
          {text: 'Gender', value: 'gender'},
          {text: 'Skin color', value: 'skin_color'},
          {text: 'Height', value: 'height'},
          {text: 'Mass', value: 'mass'},
        ],
      }
    },
    created() {
      this.getPeopleList()
    },
    methods: {
      getPeopleList() {
        axios.get('https://swapi.co/api/people', {
          params: {
            page: this.page
          }
        })
          .then(res => {
            this.loading = false
            this.peopleList = res.data.results
            this.total = res.data.count
            this.pageCount = Math.ceil(res.data.count / 10)
          })
      },
    }
  }
</script>

<style lang="scss">

</style>
