<template lang="pug">
    div
        v-navigation-drawer(v-model="drawer" app temporary dark)
            v-list(dense nav class="py-0")
                v-list-item-content.d-flex
                    v-btn.mb-2(v-for="(item , index) in menuItems" :key="`item_${index}`" :to="item.route") {{item.name}}
                        v-icon {{item.icon}}
        v-app-bar(app dark fixed)
            v-app-bar-nav-icon(@click.stop="drawer = !drawer")
            v-toolbar-title Star Wars
            v-spacer
            v-btn(to="/") Home
                v-icon mdi-home-outline
</template>

<script>
  export default {
    data: () => ({
      drawer: null,
      menuItems : [{
        name : 'people',
        icon : 'mdi-view-dashboard',
        route : '/people'
      },
        {
          name : 'planets',
          icon : 'mdi-earth',
          route : '/planets'
        },
        {
          name : 'starships',
          icon : 'mdi-airplane',
          route : '/starships'
        },
        {
          name : 'films',
          icon : 'mdi-filmstrip',
          route : '/films'
        }
      ]
    }),
  }
</script>